
<h1>SPOTIFY</h1>

<form action="/artist-search", method="GET">
<label for="artist-search"></label>
<input id="artist-search" type="text" name="artist"/>

<input type="submit" value="search for artist"/>
</form>





